**/resources/**
**/.frontmatter/**
**/.git/**
**/.git/**
**/public/**
**/staitc/**
**/theme/**
**/Template/**

**/.obsidian/**
**/plugins/**
**/.trash/**

**/.obsidian/**
**/plugins/**
**/.trash/**
**/.DS_Store**
**/Template/**